{% extends "customer_base.html" %}

{% block sheri %}
<!-- header -->
<div class="bg-body-tertiary px-4 py-5 text-center">
    <div class="py-4 text-body-emphasis">
      <h1 class="display-5 fw-bold container mb-4">
        اعثر على أفضل الخبراء المحترفين لإنجاز خدماتك  <br><span class="text-primary">بسهولة وموثوقية</span>
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
            نوفر لك منصة شاملة تتيح لك الوصول إلى نخبة من الحرفيين والمحترفين في مختلف المجالات، مما يسهل عليك طلب الخدمات والتواصل المباشر معهم بسرعة وموثوقية. احصل على تجربة سلسة وآمنة لإنجاز مهامك بأعلى مستويات الجودة وراحة البال.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="" class="btn btn-success btn-lg px-4">
            ابداء الان مجاناََ
            <i class="fa-solid fa-caret-left"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
<!-- end header -->



<!-- Services Features -->
<div class="container py-5">
    <h2 class="text-center py-4">ميزات المنصة</h2>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-3">


        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-display fa-3x mb-2"></i>
                    <p class="text-success my-2">لوحة تحكم</p>
                    <h3 class="py-3">لوحة تحكم سهلة الاستخدام</h3>
                    <p>واجهة بسيطة وبديهية تتيح لك إدارة جميع عملياتك بسهولة، ليتمكن جميع المستخدمين من الاستفادة.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-cube fa-3x"></i>
                    <p class="text-success my-2">خدمات</p>
                    <h3 class="py-3">نقدم خدمات متعددة</h3>
                    <p>نحن نوفر لك منصة شاملة تتيح لك الوصول إلى أفضل الحرفيين والمحترفين لتلبية جميع احتياجاتك بسهولة</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-comments fa-3x"></i>
                    <p class="text-success my-2">دردشة</p>
                    <h3 class="py-3">نظام دردشة</h3>
                    <p>نقدم لك نظام دردشة متطور مبني على أحدث التقنيات لضمان حماية حقوقك وتوفير تجربة تواصل آمنة وسلسة. تواصل بثقة واطمئنان مع مقدمي الخدمات</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-shield-halved fa-3x"></i>
                    <p class="text-success my-2">الحماية</p>
                    <h3 class="py-3">محمي من الثغرات الأمنية</h3>
                    <p>نظام مجهز بتقنيات حماية متقدمة لحماية بياناتك من التهديدات والهجمات الإلكترونية.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-tablet-screen-button fa-3x"></i>
                    <p class="text-success my-2">متجاوب</p>
                    <h3 class="py-3">دعم الأجهزة المتعددة</h3>
                    <p>يمكنك الوصول إلى المنصة عبر أجهزة مختلفة مثل أجهزة الكمبيوتر أو الهواتف الذكية أو الأجهزة اللوحية.</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card border d-grid border-0 h-100">
                <div class="bg-black p-5 text-start text-white rounded-4">
                    <i class="fa-solid fa-headset fa-3x"></i>
                    <p class="text-success my-2">دعم فني</p>
                    <h3 class="py-3">دعم فني على مدار 24 ساعة طوال أيام الأسبوع</h3>
                    <p>فريق دعم متخصص متاح على مدار الساعة لمساعدتك في أي مشكلة أو استفسار.</p>
                </div>
            </div>
        </div>


    </div>
    
 </div>
<!-- End Services Features -->


<!-- Services Features -->
<div class="container py-5">
    <h2 class="text-center py-4">نقدم لك ايضاََ تطبيق أي خدمة</h2>
    <div class="row row-cols-1 row-cols-md-2 g-2">
        <div class="col">
            <div class="bg-body-tertiary mx-2 py-5 row row-cols-2">
                <i class="col-3 fa-brands fa-google-play fa-3x"></i>
                <div class="col">
                    <h3>تنزيل التطبيق</h3>
                    <p>نزل للاجهزة الاندرويد</p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="bg-body-tertiary mx-2 py-5 row row-cols-2">
                <i class="col-3 fa-brands fa-apple fa-3x"></i>
                <div class="col">
                    <h3>تنزيل التطبيق</h3>
                    <p>نزل للاجهزة ios</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock sheri %}

