.popover-header {text-align: right;}
* {
            font-family: Arial, Helvetica, sans-serif !important;
            letter-spacing: .3px;
          }

    .sender {display: flex; flex-direction: row; padding: 4px;}
    .sender audio {width: 250px;}
    .receiver audio {width: 250px;}
    .receiver p {border-radius: 15px; padding: 10px; margin: 0 !important;}

    .sender div, .receiver div{
        border-radius: 15px;
        display: flex;
        align-items: flex-end;
    }
    .sender p {
        margin: 0 !important;
        padding: 10px;
        word-break:break-all;
    }

    .sender span{
        font-size: 12px;
        padding: 3px 0px;
        text-wrap: nowrap;
    }

    .receiver span {
        font-size: 12px;
        padding: 6px;
    }
    .sender-form-box .send {border-radius: 100%; transform: rotateZ(225deg); margin: 10px 0;}

    {% if LANGUAGE_CODE == 'ar' or LANGUAGE_CODE == 'he' %}
    .sender i {padding: 3px; padding-left: 6px;}
    .sender p, .receiver p {text-align: right;}
    .is-typing {left: 27px;}
    {% else %}
    .is-typing {right: 27px;}
    .sender i {padding: 3px; padding-right: 6px;}
    .sender p, .receiver p {text-align: left;}
    {% endif %}

    .receiver {display: flex; flex-direction: row-reverse; padding: 4px;}

    .sender-form-box {width: min(100%, 768px);padding: 2px 20px; margin: auto;
         /* bottom: 0; right: 0;position: absolute; */
        /* right: -17px !important; */
        display: flex; align-items: center; justify-content: space-between;flex-direction: row;
    }

    #msg-container-box {box-shadow: inset #6a6a6a 0px 15px 15px -13px !important; background-color: #f1f1f1; box-shadow: rgb(177, 177, 177) 0px 0px 3px;height: 100%; display: contents;}
    #msg-container-box2 {
        box-shadow: rgb(177, 177, 177) 0px 0px 3px; background-color: #f1f1f1; width: min(100%, 768px);position: relative;padding: 20px;margin: auto;display: block; 
        /* padding-bottom: 75px; */
        padding-bottom: 115px;
        min-height: 100vh;
    }
    body {
        margin-bottom:0 !important;
    }



/* --------------------------------------------------- */

/* css wave animation for on typing chat messages */
.show-el {
    display: flex !important;
}

.is-typing {
    width: 75px;
    height: 30px;
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 999;
    bottom: 80px;
}

.jump1,
.jump2,
.jump3,
.jump4,
.jump5 {
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
}

.jump1 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.1s;
}

.jump2 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.2s;
}

.jump3 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.3s;
}

.jump4 {
    animation: typing 1.5s linear infinite;
    animation-delay: 01.4s;
}

.jump5 {
    animation: typing 1.5s linear infinite;
    animation-delay: 1.5s;
}

@keyframes typing {
0% {
transform: translateY(0px);
}

25% {
transform: translateY(0px);
}

35% {
transform: translateY(7px);
}

45% {
transform: translateY(0px);
}

60% {
transform: translateY(-7px);
}

75% {
    background-color: rgb(126, 126, 126);
transform: translateY(0px);
}

100% {
transform: translateY(0px);
}
}


/* UPLOAD CSS */

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #6990F2;
} */

::selection{
  color: #fff;
  background: #6990F2;
}
.wrapper{
  /* width: 430px; */
  /* background: #fff; */
  /* border-radius: 5px; */
  padding: 10px;
  /* box-shadow: 7px 7px 12px rgba(0,0,0,0.05); */
}
.wrapper header{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}
.wrapper #uploadForm{
  height: 167px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
}
#uploadForm :where(i, p){
  color: #6990F2;
}
#uploadForm i{
  font-size: 50px;
}
#uploadForm p{
  margin-top: 15px;
  font-size: 16px;
}

section .row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .row i{
  color: #6990F2;
  font-size: 30px;
}
section .details span{
  font-size: 14px;
}
.progress-area .row .content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .content .progress-bar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}
.content .progress-bar .progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area.onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .row .content{
  display: flex;
  align-items: center;
}
.uploaded-area .row .details{
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
.uploaded-area .row .details .size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}

/* drag drop files */
#uploadForm.drag-over {
    background-color: #eee;
  }

.preview-image {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid #ddd;
}


